<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Create New Listing here : </h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" required class="form-control" placeholder="Add a catchy title" name="listing[title]">
            <div class="valid-feedback">
                Title Looks good!
            </div> 
            <div class="invalid-feedback">
                Please enter a good title
            </div>   
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea required class="form-control" placeholder="Enter description" name="listing[description]" rows="10" cols="30"></textarea>
            <div class="invalid-feedback">
                Please enter a short description
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" name="listing[image]">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input required type="text" class="form-control" placeholder="1200" name="listing[price]">
            <div class="invalid-feedback">
                Please enter a valid price
            </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input required type="text" class="form-control" placeholder="India" name="listing[country]">
            <div class="invalid-feedback">
                Please enter the country name
            </div>
        </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required type="text" class="form-control" placeholder="Lucknow, Uttar Pradesh" name="listing[location]">
            <div class="invalid-feedback">
                Please enter the location
            </div>
        </div>
        
        
        <br>
        <button class="btn btn-success add-btn">Add</button>
    </form>
    <br>
</div>
</div>