<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h3 class="col-6 offset-3">SignUp on WanderLust</h3><br/>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" required class="form-control" name="username">
                <div class="valid-feedback">
                    Looks good!
                </div>    
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" required class="form-control" name="email">  
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" required class="form-control" name="password">  
            </div>

            <button class="btn btn-outline-primary">SignUp</button>
        </form>
    </div>
</div>